<ion-header no-border>
  <ion-toolbar>
    <ion-buttons *ngIf="showTimer" slot="end">
      <ion-button (click)="stopTimer()">
        <ion-icon slot="icon-only" name="stopwatch"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Practice Plan</ion-title>
    <ion-buttons  *ngIf="!showTimer && user?.isCoach" slot="end">
      <ion-button (click)="runTimer()">
        <ion-icon slot="icon-only" name="stopwatch"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="showTimer">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> {{ currentActivity?.name }}</ion-card-subtitle>
            <ion-card-title> {{ (currentActivity?.time) ? currentActivity?.time : "Getting Activity..." }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p>Next Activity: <b>{{ nextActivity?.name }} </b></p>
              <p> Start Time: <b>{{ nextActivity?.start }}</b></p>

            </ion-label>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >

    <ion-row>
      <ion-col>
        <ion-button  [disabled]="!user?.isCoach" *ngIf="showSelectDate" size="small" fill="clear" (click)="checkDay()">
          {{ (date) ? date : "Choose Date" }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button   [disabled]="!user?.isCoach" *ngIf="showSelectTime" size="small" fill="clear" (click)="checkStartTime()">
          {{ (startTime) ? (startTime | date: 'h:mm a') : "Start Time" }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" (click)="viewDays()" fill="clear">Day {{ currentDay?.day }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" (click)="viewWeeks()" fill="clear">Week {{ currentWeek?.week }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ionic-calendar-date-picker *ngIf="showCalendar" style="max-width: 100px" (onSelect)="dateSelected($event)">
        </ionic-calendar-date-picker>

        <ion-item *ngIf="showStartTime">
          <ion-label>Start Time</ion-label>
          <ion-datetime (ionChange)="updateTime()" [(ngModel)]="startTime"
            pickerFormat="hh:mm a" displayFormat="hh:mm a"></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-activities></app-activities>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>