<ion-list>
  <ion-item-divider>Activities</ion-item-divider>
  <ion-item  *ngFor="let activity of activities">
    <ion-label (click)="viewActivity(activity)">
      {{ activity.name }}
    <p> {{ activity.duration }} minutes - {{ (activity.start) ? (activity.start | date: 'h:mm a') : "No Start Time"}}</p>
    </ion-label>
    <ion-note slot="end" color="dark"  (click)="editActivity(activity)">Edit</ion-note>
  </ion-item>
  <ion-button fill="clear" (click)="newActivity()">New Activity</ion-button>
</ion-list>