<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Drill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <video *ngIf="!isYoutube" width="100%" height="240" controls autoplay>
    <source [src]="(drill.Video) ? drill.Video : drill.video" type="video/mp4">
    <source [src]="(drill.Video) ? drill.Video : drill.video" type="video/ogg">
  Your browser does not support the video tag.
  </video> 
  <iframe  *ngIf="isYoutube"  width="420" height="345" [src]="sanatizeURl(drill.Video)">
  </iframe>
</ion-content>
