<ion-header no-border>
  <ion-toolbar>

    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>Next Event</ion-list-header>
          <ion-card *ngIf="nextItem">
            <ion-card-header>
              <ion-card-title>{{ nextItem.itemType}}</ion-card-title>
              <ion-card-subtitle>{{ nextItem.datetime | fromNow }}</ion-card-subtitle>
              <ion-card-subtitle>{{ nextItem.location }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ nextItem.notes }}
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>Team News</ion-list-header>
          <ion-item *ngIf="news">
            <ion-label>
              <h2>{{ news.title }}</h2>
                <p>{{ news.created }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>